[submodule "flutterino_esp32/components/TFT_eSPI"]
	path = flutterino_esp32/components/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI
[submodule "flutterino_esp32/components/arduino"]
	path = flutterino_esp32/components/arduino
	url = https://github.com/espressif/arduino-esp32
[submodule "flutterino_esp32/components/axp20x"]
	path = flutterino_esp32/components/axp20x
	url = https://github.com/lewisxhe/AXP202X_Library.git
